body,html {
    margin:0px;
    height:100%; /* needed for container min-height */
    overflow: hidden;
}

#twitter-login-icon{
    margin-top: 10px;
    margin-bottom: 10px;
}


#fill-container {
    bottom: 0;
    min-height: 100%;
}

#map-canvas
{
    padding: 0px;
    height: 90%;
}


.navbar {
    border-radius: 0px !important;
    margin: 0px;
    z-index: 1000;
}

body {
    font-family: 'Nunito', sans-serif;
}

div.header {
    width: 100%;
    height: 10%;
    background-color: #DDDDDD;
}

div.blogpostwrapper {

    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;

    font-family: 'Nunito', sans-serif;

    /*z-index: 7;*/
    /*width: 900px;
    height: 80%;*/
    /*background-color: #EEEEEE;
    border: 1px solid #555555;
    border-radius: 5px;*/
}

div.textwrapper {
    /*background-color: yellow;*
    width: 49.5%;
    height: 100%;*/
    float: left;
}

div.mediawrapper {
    /*background-color: purple;*/
    width: 49.5%;
    height: 100%;
    float: right;
}

li.mediablock {
    width: 300px;
    height: 300px;
}

img.mediablockimage {
    width: 100%;
    height: 100%;
}

div.footer {
    width: 100%;
    height: 10%;
    background-color: #DDDDDD;
}

/* roundabout stuff */

div.mediablockcontainer {
    margin: auto;
    width: 100%;
    height: 400px;
    background: #FDFDFD;
}

div.mediablock {
    background: red;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
}

div.previewmediawrapper {
    float: right;
    width: 45%;
}

div.previewmediawrapper ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 42em;
    height: 24em;
}

div.previewmediawrapper li {
    height: 20em;
    width: 30em;
    background-color: #B4CDDA;
    text-align: center;
    cursor: pointer;
}

div.previewmediawrapper li.roundabout-in-focus {
    cursor: default;
}

div.previewmediawrapper li span {
    display: block;
    padding-top: 6em;
}

/* editor functions*/

div.editorbackground {
    /*background: #BBBBBB;
    height: 100%;
    width: 100%;
    padding-top: 25px;*/

    /*overflow-y: scroll;*/
    height: 850px;
    
}

div.editortop {
    width: 80%;
    margin: auto;
    background-color: #FEFEFE;
    height: 90%;
    padding: 15px 15px 15px 15px;
}

img.imagepreview {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

div.imagewrapper {
    width: 120px;
    border: 1px solid #888888;
    background: #B4CDDA;
    margin-top: 5px;
    float: left;
    margin-left: 5px;
}

div.imagewrapper:hover {
    background: #849DAA;
}

div.availablemediawrapper {
    position: relative;
    /*margin-top: 35px;*/
    /*width: 45%;*/
    /*float: right;*/
    height: 0px;
}

div.picturescontainer {
    padding: 10px 10px 10px 10px;
    width: 32%;
    height: 260px;
    border: 1px solid #555588;
    float: right;
    overflow-y: scroll;
    /*clear: both;*/
}

div.videoscontainer {
    padding: 10px 10px 10px 10px;
    width: 32%;
    height: 260px;
    border: 1px solid #555588;
    float: right;
    overflow-y: scroll;
    /*clear: both;*/
    margin-top: 15px;
}

div.tweetscontainer {
    padding: 10px 10px 10px 10px;
    width: 32%;
    height: 260px;
    border: 1px solid #555588;
    float: right;
    overflow-y: scroll;
    /*clear: both;*/
    margin-top: 15px;
}

div.textentrywrapper {
    width: 60%;
    float: left;
    height: 100%;
}

#wmd-input {
    /*width: 95%;*/
    width: 100%;
    height: 100%;
}

#blogeditor li {
    float: left;
}

#wmd-preview {
    background: #FDFDFD;
    padding: 10px 10px 10px 10px;
    height: 350px;
    /*border: 1px solid #888888;*/
    width: 60%;
    font-family: 'Nunito', sans-serif;
}

.wmd-button > span {
	background-image: url(/media/wmd-buttons.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 20px;
	height: 20px;
	display: inline-block;
	left: 0px;
}

.wmd-button {
	list-style: none;
	cursor: pointer;
}

.wmd-button-row {
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;
	height: 20px;
}

.menucontainer {
    width: 60%;
    height: 30px;
    margin-top: 15px;
    float: left;
    border-bottom: 1px solid #444444;
    margin-bottom: 5px;

}

.menutabs {
    display: block;
    list-style: none;
    float: left;
}

.menutab {
    display: inline-block;
    list-style: none;
    float: left;
    padding-top: 1px;
    position: relative;
    overflow: hidden;
    background: #B4CDDA;
    width: 150px;
    height: 30px;
    color: #FFFFFF;
    border: 1px solid #444444;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    font-size: 18px;
    margin-left: 2px;
    cursor: pointer;
}

.menutab-selected {
    display: inline-block;
    list-style: none;
    float: left;
    padding-top: 1px;
    position: relative;
    overflow: hidden;
    background: #849DAA;
    width: 150px;
    height: 30px;
    color: #FFFFFF;
    border: 1px solid #444444;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    font-size: 18px;
    margin-left: 2px;
    cursor: pointer;
}

div.tabscontainer {
    height: 100%;
}

div.tabcontents {
    height: 100%;
}

div.postpreview {
    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    float: left;
    width: 50%;
}
