<%inherit file="master.mak" />

    <script src="/js/markdown.sanitizer.js"></script>
    <script src="/js/markdown.editor.js"></script>

    <div class="editorbackground">
        <div class="editortop">

            <div id="availablemediawrapper" class="availablemediawrapper">
                <div id="picturescontainer" class="picturescontainer"></div>
                <div id="videoscontainer" class="videoscontainer"></div>
            </div>

            <div id="imagepreview"></div>

            <div class="menucontainer">
                <ul class="menutabs">
                    <li id="tabeditor" class="menutab" onclick="showtab('editor')">
                        Editor
                    </li>
                    <li id="tabpreview" class="menutab" onclick="showtab('preview')">
                        Preview
                    </li>
                </ul>
            </div>

            <div id="tabs" class="tabscontainer">

                <div id="divpreview" class="tabcontents">
  
                    <div id="wmd-preview" class="postcontent"></div> 
    
                </div>

                <div id="diveditor" class="tabcontents">
 
                    <div id="blogeditor" class="textentrywrapper">
                        <div id="wmd-button-bar"></div>		
                        <div id="textareawrapper" style="height: 100%;">
                            <textarea class="wmd-input" id="wmd-input"></textarea>
                        </div>
                    </div>

                 </div>

            </div>

        </div>

    </div>

    <script>

        var tabs = ['editor','preview'];
        var currenttab = '';

        function hidetabs() {
        
            for( var i=0; i<tabs.length; i++ ) {
                //$('#tab'+tabs[i]).hide();
                $('#div'+tabs[i]).hide();
            }
 
        }

        function showtab(clickedtab) {

            console.log(clickedtab + ' has been clicked');
            console.log(currenttab + ' is the current tab');

            if( currenttab != clickedtab ) {

                // update display
                $("#tab"+currenttab).removeClass("menutab-selected").addClass("menutab");
                $("#tab"+clickedtab).removeClass("menutab").addClass("menutab-selected");
                
                // update our state
                currenttab = clickedtab
        
                // hide all of the tabs
                for (i=0; i<tabs.length; i++)
                    $("#div"+tabs[i]).hide();
        
                // show the new current tab
                $("#div"+clickedtab).show();
            }
        }

        hidetabs();
        showtab('editor');
        //currenttab = 'editor';

        $(document).ready(function() {

           // do this when the page is ready

        });

        function loadEditor()
        {
            var converter = Markdown.getSanitizingConverter();
                
            converter.hooks.chain("preBlockGamut", function (text, rbg) {
                return text.replace(/^ {0,3}""" *\n((?:.*?\n)+?) {0,3}""" *$/gm, function (whole, inner) {
                    return "<blockquote>" + rbg(inner) + "</blockquote>\n";
                });
            });
			
            var editor = new Markdown.Editor(converter);
			
            editor.run();
         }

         function getImages(username,albumid) {
         
             var url = 'https://picasaweb.google.com/data/feed/api/user/' + username + '/albumid/' + albumid + '?alt=json'
             //console.log(url);
             $.getJSON( url, function( data ) {
                pictureurls = data['feed']['entry'];
                //console.log(pictureurls);
                var html = '';
                for( var i=0; i<pictureurls.length; i++ ) {
                    //html += '<div class="imagewrapper">';
                    var src = pictureurls[i]['content']['src'];
                    html += '<img class="imagepreview" src="' + src+ '" onclick="showPreview(\'' + src + '\');"></img>';
                    //html += '</div>'
                }
                html += '';

                $('#picturescontainer').html(html);

                var totalpictures = $('#content img').size();

                $('#picturescontainer').show();

                /*
                $(window).bind('resize', function() {
                    var $picture = $('#wrapper').find('img');
                    resize($picture);
                });
                */

             });

         }     

            function getCaretPosition( textarea ) {
                if ( textarea.selectionStart ) {
                    return textarea.selectionStart;
                }
                else if ( !document.selection ) {
                    return 0;
                }

                var c   = "\001",
                    sel = document.selection.createRange(),
                    dul = sel.duplicate(),
                    len = 0;

                dul.moveToElementText( textarea );
                sel.text  = c;
                len = dul.text.indexOf( c );
                sel.moveStart( 'character', -1 );
                sel.text  = "";
                return len;
            }

         function showPreview(source) {
             var html = '<img src="' + source + '" style="width: 256px; height: 256px;"></img>';
             html += '<div style="padding-top: 20px;"><button style="float: left;" onclick="insertImage(\'' + source + '\')")>Insert</button><button style="float: right;">Cancel</button></div>';
             $('#imagepreview').html(html);
             $('#imagepreview').dialog({dialogClass: 'noTitleStuff' });
         }

         String.prototype.splice = function( idx, rem, s ) {
             return (this.slice(0,idx) + s + this.slice(idx + Math.abs(rem)));
         };

         function insertImage(source) {
         
             pos = getCaretPosition( document.getElementById('wmd-input') );

             console.log('inserting image at ' + pos);

             var tag = ":::" + source + ":::";
             var newval = $('#wmd-input').val().splice( pos, 0, tag );
             $('#wmd-input').val(newval);
             console.log(newval);

             $('#imagepreview').dialog('close');

         } 
 
         loadEditor();
         images = getImages('bwrubin','5998997508291210529');


    </script>

