<html>
<head>

    <link rel="stylesheet" href="css/main.css" />

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

    <script src="/js/markdown.converter.js"></script>
    <script src="/js/markdown.sanitizer.js"></script>
    <script src="/js/markdown.editor.js"></script>

</head>
<body>

    <div class="editorbackground">
        <div class="editortop">

            <div id="availablemediawrapper" class="availablemediawrapper">
                <div id="picturescontainer" class="picturescontainer"></div>
                <div id="videoscontainer" class="videoscontainer"></div>
            </div>

            <div id='previewtab' class="tabcontents">

                <div id="wmd-preview" class="postcontent"></div> 
    
            </div>

            <div id="entrytab" class="tabcontents">

                <div id="blogeditor" class="textentrywrapper">
                    <div id="wmd-button-bar"></div>		
                    <textarea class="wmd-input" id="wmd-input"></textarea>
               </div>

            </div>

        </div>

    </div>

    <script>

        function loadEditor()
        {
            var converter = Markdown.getSanitizingConverter();
                
            converter.hooks.chain("preBlockGamut", function (text, rbg) {
                return text.replace(/^ {0,3}""" *\n((?:.*?\n)+?) {0,3}""" *$/gm, function (whole, inner) {
                    return "<blockquote>" + rbg(inner) + "</blockquote>\n";
                });
            });
			
            var editor = new Markdown.Editor(converter);
			
            editor.run();
         }

         function getImages(username,albumid) {
         
             var url = 'https://picasaweb.google.com/data/feed/api/user/' + username + '/albumid/' + albumid + '?alt=json'
             //console.log(url);
             $.getJSON( url, function( data ) {
                pictureurls = data['feed']['entry'];
                //console.log(pictureurls);
                var html = '';
                for( var i=0; i<pictureurls.length; i++ ) {
                    html += '<div class="imagewrapper">';
                    html += '<img class="imagepreview" src="' + pictureurls[i]['content']['src'] + '">' + pictureurls[i]['summary']['$t'] + '</img>';
                    html += '</div>'
                }
                html += '';

                $('#picturescontainer').html(html);

             });

         }     

         loadEditor();
         images = getImages('bwrubin','5998997508291210529');


    </script>

</body>
</html>
