<%inherit file="master.mak" />

    <link href="/css/roundabout2.css" rel="stylesheet" />

    <script src="/js/markdown.sanitizer.js"></script>
    <script src="/js/markdown.editor.js"></script>

    <script src="/js/jquery.roundabout.js"></script>

    <div class="editorbackground">
        <div class="editortop">

            <div id="mediapreview"></div>

            <div class="menucontainer">
                <ul class="menutabs">
                    <li id="tabeditor" class="menutab" onclick="showtab('editor')">
                        Editor
                    </li>
                    <li id="tabpreview" class="menutab" onclick="showtab('preview')">
                        Preview
                    </li>
                </ul>
            </div>

            <div id="tabs" class="tabscontainer">

                <div id="divpreview" class="tabcontents">
  
                    <div id="previewmediawrapper" class="previewmediawrapper">
                    
                    <!--
                        <ul>
                            <li>
                                <div style="width: 100%; height: 100%; background: #B4CDDA;"></div>
                            </li>
                            <li>
                                <div style="width: 100%; height: 100%; background: #B4CDDA;"></div>
                            </li>
                            <li>
                                <div style="width: 100%; height: 100%; background: #B4CDDA;"></div>
                            </li>
                            <li>
                                <div style="width: 100%; height: 100%; background: #B4CDDA;"></div>
                            </li>
                            <li>
                                <div style="width: 100%; height: 100%; background: #B4CDDA;"></div>
                            </li>
                        </ul>
                    -->
                        <script>
                            $('div.previewmediawrapper ul').roundabout();
                        </script>
                    
                    </div>

                    <div id="postpreview" class="postpreview"></div>

                    <!--<div id="blogpostdialog">
                        <div id="blogpostwrapper" class="blogpostwrapper">
                            <div id="wmd-preview" class="postcontent"></div>
                            <div id="mediawrapper" class="mediawrapper"></div>
                        </div>
                    </div>-->

                </div>

                <div id="diveditor" class="tabcontents">

                    <div id="blogeditor" class="textentrywrapper">
                        <div id="wmd-button-bar"></div>
                        <div id="textareawrapper" style="height: 100%;">
                            <textarea class="wmd-input" id="wmd-input"></textarea>
                        </div>
                        <div style="margin-top: 10px;">
                            <button onclick="post();">Post</button>
                        </div>
                    </div>

                    <div id="availablemediawrapper" class="availablemediawrapper">
                        <div id="picturescontainer" class="picturescontainer"></div></br>
                        <div id="videoscontainer" class="videoscontainer">
                            <div id="video-container"></div>
                        </div></br>
                        <div id="tweetscontainer" class="tweetscontainer"></div></br>
                    </div>
 
                 </div>

            </div>

        </div>

    </div>

    <script>

        var previewdata = {};

        var tabs = ['editor','preview'];
        var currenttab = '';

        function hidetabs() {
        
            for( var i=0; i<tabs.length; i++ ) {
                //$('#tab'+tabs[i]).hide();
                $('#div'+tabs[i]).hide();
            }
 
        }

        function showtab(clickedtab) {

            console.log(clickedtab + ' has been clicked');
            console.log(currenttab + ' is the current tab');

            if( currenttab != clickedtab ) {

                // update display
                $("#tab"+currenttab).removeClass("menutab-selected").addClass("menutab");
                $("#tab"+clickedtab).removeClass("menutab").addClass("menutab-selected");
                
                // update our state
                currenttab = clickedtab
        
                // hide all of the tabs
                for (i=0; i<tabs.length; i++)
                    $("#div"+tabs[i]).hide();
        
                if ( clickedtab == 'preview' ) {
                    doPreview();
                }

                // show the new current tab
                $("#div"+clickedtab).show();

            }
        }

        hidetabs();
        showtab('editor');
        //currenttab = 'editor';

        $(document).ready(function() {



        });

        function loadEditor()
        {
            var converter = Markdown.getSanitizingConverter();
                
            converter.hooks.chain("preBlockGamut", function (text, rbg) {
                return text.replace(/^ {0,3}""" *\n((?:.*?\n)+?) {0,3}""" *$/gm, function (whole, inner) {
                    return "<blockquote>" + rbg(inner) + "</blockquote>\n";
                });
            });
			
            var editor = new Markdown.Editor(converter);
			
            editor.run();
         }

         function getImages(username,albumid) {
         
             var url = 'https://picasaweb.google.com/data/feed/api/user/' + username + '/albumid/' + albumid + '?alt=json'
             //console.log(url);
             $.getJSON( url, function( data ) {
                pictureurls = data['feed']['entry'];
                //console.log(pictureurls);
                var html = '';
                for( var i=0; i<pictureurls.length; i++ ) {
                    //html += '<div class="imagewrapper">';
                    var src = pictureurls[i]['content']['src'];
                    html += '<img class="imagepreview" src="' + src+ '" onclick="showPreview(\'image\', \'' + src + '\');"></img>';
                    //html += '</div>'
                }
                html += '';

                $('#picturescontainer').html(html);

                var totalpictures = $('#content img').size();

                $('#picturescontainer').show();

                /*
                $(window).bind('resize', function() {
                    var $picture = $('#wrapper').find('img');
                    resize($picture);
                });
                */

             });

         }     

            function getCaretPosition( textarea ) {
                if ( textarea.selectionStart ) {
                    return textarea.selectionStart;
                }
                else if ( !document.selection ) {
                    return 0;
                }

                var c   = "\001",
                    sel = document.selection.createRange(),
                    dul = sel.duplicate(),
                    len = 0;

                dul.moveToElementText( textarea );
                sel.text  = c;
                len = dul.text.indexOf( c );
                sel.moveStart( 'character', -1 );
                sel.text  = "";
                return len;
            }

         function showPreview(type,source) {

             console.log('showing preview ...');

             var html = '';
             switch(type) {

                 case 'image':
                     html += '<img src="' + source + '" style="width: 100%; height: 80%;"></img>';
                     break;

                 case 'video':
                     html += '<iframe src="http://www.youtube.com/embed/"' + source + '" style="width: 80%; height: 100%;" frameborder="0" allowfullscreen"></iframe>';
                     break;
             };

             html += '<div style="margin-top: 10px;">Title:<input type="text" id="imagetitle" style="width:100%;"></input></div>';
             html += '<div style="padding-top: 20px;"><button style="float: left;" onclick="insertImage(\'' + source + '\')")>Insert</button>';
             html += '<button style="float: right;" onclick="function() { $(\'#mediapreview\').dialog(\'close\'); }">Cancel</button></div>';
             $('#mediapreview').html(html);
             $('#mediapreview').dialog({dialogClass: 'noTitleStuff' });

         }

         String.prototype.splice = function( idx, rem, s ) {
             return (this.slice(0,idx) + s + this.slice(idx + Math.abs(rem)));
         };

         function insertImage(source) {
         
             var title = $('#imagetitle').val();
             pos = getCaretPosition( document.getElementById('wmd-input') );

             console.log('inserting image at ' + pos);

             var imagenumber = media.length + 1;
             var tag = '![' + title + '][' + imagenumber + ']';
             var newval = $('#wmd-input').val().splice( pos, 0, tag );
             $('#wmd-input').val(newval);
             console.log(newval);

             var val = $('#wmd-input').val();
             $('#wmd-input').val(val + '\n\n' + '[' + imagenumber + ']: ' + source);

             media.push({ type:"image", source: source })

             $('#mediapreview').dialog('close');

         } 

         function insertVideo(videoid) {
         
             

         }

         var media = []

         function post() {
             
             var postdata = {};

             postdata.text = $('#wmd-input').val();

             postdata.media = media;
 
         }

         function doPreview() {
        
             previewdata.text = $('#wmd-input').val();
 
             text = previewdata.text;

             updateText(text,'postpreview');
         
         }

         function updateText(text,divname) {
            // display markdown text
            var converter = new Markdown.Converter();
            var html = converter.makeHtml(text);
            $('#'+divname).html(html);
        } 
 
         loadEditor();
         images = getImages('bwrubin','5998997508291210529');

         

    </script>


    <script src="/js/gauth.js"></script>
    <script src="/js/youtube.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
