<%inherit file="master.mak" />
    <div id="map-canvas" class="map-canvas">HELLO</div>

    <div id="blogpostdialog">
        <div id="blogpostwrapper" class="blogpostwrapper">
            <div id="textwrapper" class="textwrapper"></div>
            <div id="mediawrapper" class="mediawrapper"></div>
        </div>
    </div>

    <script>
        var map_container = document.getElementById('map-canvas');
        var counties = null;
        var current_towns = null;
        var old_counties = [];
        var town_schools = [];

        var lineWeight = 20;

        var events = [];

        //$('#blogpost').show();

        $( "#blogpostdialog" ).dialog({
            autoOpen: false,
            show: { 
                effect: "fade",
                duration: 300 
            },
            hide: { 
                effect: "fade",
                duration: 300 
            }
        });

        $(document).ready(function() {

            reSize();

            var main = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: 'Map data  OpenStreetMap contributors',
                minZoom: 3,
                maxZoom: 16,
            });

            var counties = L.layerGroup();
            var current_towns = L.layerGroup();

            
            window.map = L.map('map-canvas', {
                center: [20, 0], //[42.6501, -76.3659],
                zoom: 3,
                layers: [
                    main
                ]
            });

            /*
            L.control.scale({
                position: 'bottomright',
                metric: true,
               imperial: true
            }).addTo(map);
            */ 

            var marker = L.marker([43, -77]).addTo(map);
            marker.on('click', function () { openPost('testpost'); }  );

        });
        
        $(window).bind( 'resize', reSize() );
        
        function reSize() {
            
            // called when window gets resized

            console.log('resizing');           
 
            var w = window.innerWidth;
            var h = window.innerHeight;
            
            $('#blogpostdialog').dialog( "option", "width", (w * .85) );
            $('#blogpostdialog').dialog( "option", "height", (h * .85) );
           
        }

        //var media = [];
        //var text = '';

        function openPost(postid) {

            console.log('');

            var url ="getpost.json"; //?postid=" + postid
            $.getJSON( url, function( data ) {

                //var text = data.text;             
                //updateText(text);
 
                //var media = data.media;
                //updateMedia(media)
 
                $('#blogpostdialog' ).dialog( 'open' ); 

            });
        } 

        function updateText(text) {
            // display markdown text
            var converter = new Markdown.Converter();
            var html = converter.makeHtml(text);
            $('#textwrapper').html(html);
        } 

        function updateMedia(media) {
            // display media parts
            for(var i=0; i<media.length; i++) {
                var html = '<ul>';
                for(var j=0; j<media[i].length; j++) {
                    html += makeMediaBlock(media[i][j]);
                }
                html += '</ul>';
            }
        }

        function makeMediaBlock(media) {
            var html = '';
            html += '<li class="mediablock">';
            switch(media[i][j]['type']) {
                case 'image':
                    html += '<img class="mediablockimage" src="' + media['source'] + '"></a>';
                    break;
                default:
                     html += '';
                     break;
            }
            html += '</li>';
            return html
        }
    </script>
