<%inherit file="master.mak" />
    <div id="map-canvas" class="map-canvas"></div>

    <div id="blogpostdialog">
        <div id="blogpostwrapper" class="blogpostwrapper">
            <div id="textwrapper" class="textwrapper"></div>
            <div id="mediawrapper" class="mediawrapper"></div>
        </div>
    </div>

    <script>

        var map_container = document.getElementById('map-canvas');
        var counties = null;
        var current_towns = null;
        var old_counties = [];
        var town_schools = [];

        var lineWeight = 20;

        var markers = [];
        var posts = [];

        var events = [];

        //$('#blogpost').show();

        $( "#blogpostdialog" ).dialog({
            autoOpen: false,
            show: { 
                effect: "fade",
                duration: 300 
            },
            hide: { 
                effect: "fade",
                duration: 300 
            }
        });

        $(document).ready(function() {
            reSize();

            

            var main = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: 'Map data  OpenStreetMap contributors',
                //minZoom: 3,
                //maxZoom: 16,
            });

            var counties = L.layerGroup();
            var current_towns = L.layerGroup();

            window.map = L.map('map-canvas', {
                center: [20, 0], //[42.6501, -76.3659],
                zoom: 3,
                layers: [
                    main
                ]
            });

            /*
            L.control.scale({
                position: 'bottomright',
                metric: true,
               imperial: true
            }).addTo(map);
            */ 
 
            var postsurl = '/getposts.json';
            $.getJSON( postsurl, function( data ) {
                for(var i=0; i<data.length; i++) {
                    var lat = data[i].lat;
                    var lng = data[i].lng;
        
                    var marker = L.marker([lat, lng]).addTo(map);
                    markers.push(marker);
                    posts.push(data[i]);

		    (function() {
			var i1 = i;
                    	marker.on('click', function () { openPost('' + i1 + '' ); });
		    })();	
 
                }
            });

        });
        
        $(window).bind( 'resize', reSize() );
        
        function reSize() {
            
            // called when window gets resized

            console.log('resizing');           
 
            var w = window.innerWidth;
            var h = window.innerHeight;
            
            $('#blogpostdialog').dialog( "option", "width", (w * .85) );
            $('#blogpostdialog').dialog( "option", "height", (h * .85) );
           
        }

        //var media = [];
        //var text = '';

        function openPost(postid) {

            console.log('getting post ' + postid + '...');

            console.log(posts);

            var text = posts[postid].text;             
            updateText(text);
 
            var media = posts[postid].media;
            updateMedia(media)
 
            $('#blogpostdialog' ).dialog( 'open' ); 

        } 

        function updateText(text) {
            // display markdown text
            var converter = new Markdown.Converter();
            var html = converter.makeHtml(text);
            $('#textwrapper').html(html);
        } 

        function updateMedia(media) {

            console.log(media)

            var html = '';

            // display media parts
            for(var i=0; i<media.length; i++) {
                for( var j=0; j<media[i].length; j++) {
                    html += '<div style="margin: auto; width: 100%; margin-top: 15px; margin-left: 40px;">';
                    switch(media[i][j]['type']) {
                        case 'image':
                            html += '<img style="max-width: 80%;" src="' + media[i][j].source + '"></a>';
                            break;
                        case 'video':
                            html += '<iframe src="http://www.youtube.com/embed/"' + media[i][j].source + '" style="width: 100%; height: 80%;" frameborder="0" allowfullscreen"></iframe>'
                            break;
                        default:
                            break;
                    }

                    html += '</div>';
                }
            }

            $('#mediawrapper').html(html);

            // make roundabout
            for(var i=0; i<media.length; i++) {
                $('#mediablock' + i + '').roundabout();
                console.log('made roundabout');
            }
        }

        function makeMediaBlock(media) {
            var html = '';
            html += '<li class="mediablock">';
            switch(media['type']) {
                case 'image':
                    //html += '<img class="mediablockimage" src="' + media['source'] + '"></a>';
                    break;
                default:
                     html += '';
                     break;
            }
            html += '</li>';
            return html
        }
    </script>
